{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="main-wrapper">
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">
                        {{ post.title }}
                    </h2>
				    <div class="meta mb-3">
                        <span class="date">
                            Published {{ post.publish }} by {{ post.author }}
                        </span>
                        {% with comments.count as total_comments %}
                        {% if total_comments %}
                            <span class="comment">
                                <a href="#">
                                    {{ total_comments }} comment{{ total_comments|pluralize }}
                                </a>
                            </span>
                        {% endif %}
                    </div>
			    </header>
                <div class="blog-post-body">
                    {{ post.body|linebreaks }}
                    <p>
                        <a href="{% url "blog:post_share" post.id %}">
                            Share this post
                        </a>
                    </p>
                    <h2>
                        {{ total_comments }} comment{{ total_comments|pluralize }}
                    </h2>
                    {% endwith %}
                    {% for comment in comments %}
                    <div class="comment">
                        <p class="info">
                            Comment {{ forloop.counter }} by {{ comment.name }}
                            {{ comment.created }}
                        </p>
                        {{ comment.body|linebreaks }}
                    </div>
                    {% empty %}
                    <p>There are no comments yet.</p>
                    {% endfor %}
                    {% if new_comment %}
                    <h2>Your comment has been added.</h2>
                    {% else %}
                    <h2>Add a new comment</h2>
                    <form action="." method="post">
                        {{ comment_form }}
                        {% csrf_token %}
                        <p><input type="submit" value="Add comment"></p>
                    </form>
                    {% endif %}
                </div>
            </div>
        </article>
    </div>
    
{% endblock %}